<script type="text/ng-template" id="aboutUsModal.html">
<ion-modal-view>
    <ion-header-bar class="navbar">
        <button class="button-clear" ng-click="closeModal()">
            <i class="ion-arrow-left-b" style="font-size:20px;color:#3d3d3d;"> About FATBURGER </i>
        </button>
    </ion-header-bar>

    <ion-content style="background-color:#eee;background-image: url(img/left_panel_bg.jpg) !important; background-repeat: repeat-y !important;z-index:99;">
    	 <div class="card" align="center" style="color:#444;">
			   </br></br>
			   <strong style="font-size:18px;"> FATBURGER HISTORY </strong>
			   </br></br>
			   In 1952, Lovie Yancey created the biggest, juiciest hamburgers anyone had ever seen. So obviously, there was only one name for them - Fatburger. Half a century later, while other places are just discovering taste, we're still making hamburgers the way she did. Fresh lean beef, not frozen patties. Cooked-to-order, just the way you want it, every time.
			   </br></br>
			   The only thing Lovie loved as much as hamburgers was music. So you'll hear some of the best music ever blasting from kickin' new jukeboxes: Rock'n'Roll, R&B, Hip-Hop, and Classic Soul that'll keep you grooving' in your chair long enough to finish that big juicy burger. We'd love to tell you about the late night talk show hosts and rap stars who've made us the happening' place—but our attorneys won't let us. (And, of course, restaurant critics keep naming us the best burger in town, but you don't care about those guys.)
			   </br></br>
      </div>
    </ion-content>

</ion-modal-view>
</script>

<ion-view>

<ion-nav-bar class="navbar">
	<ion-nav-buttons side="left">
		<button class="button-clear" ng-click="toggleLeft()">
			<i class="ion-navicon-round icon-header" style="font-size:20px;vertical-align:60%"> About Us </i>
		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button-clear" ng-click="toHome()">
			<i class="ion-home icon-header" style="font-size:20px"></i>
		</button>
		<button class="button-clear">
			<i class="ion-ios-cart-outline icon-header" style="font-size:20px"></i>
		</button>
	</ion-nav-buttons>
</ion-nav-bar>

<ion-content style="background-color:#eee;background-image: url(img/left_panel_bg.jpg) !important; background-repeat: repeat-y !important;">

<div class="card">
	<div class="item item_bb padding">
		<div class="row">
			<div class="col"> Current version </div>
			<div class="col" align="right"> 1.0.0 </div>
		</div>
	</div>
	<div class="item item_bb padding">
		<a href ng-click="openModal()" style="text-decoration:none;color:#444">
			<div class="row">
				<div class="col"> About FATBURGER </div>
			</div>
		</a>
	</div>
</div>

</ion-content>

</ion-view>
