 <script type="text/ng-template" id="myModalContent.html">
 <ion-modal-view>
 	<form>
        <ion-header-bar class="navbar">
            <button class="button-clear" ng-click="closeModal()">
                <i class="ion-arrow-left-b" style="font-size:20px;color:#fff;"> Menu Detail </i>
            </button>
        </ion-header-bar>

        <ion-content style="background-color:#eee;background-image: url(img/left_panel_bg.jpg) !important; background-repeat: repeat-y !important;z-index:99;" overflow-scroll="true">
            <div class="padding"><img class="full-image" ng-src="http://128.199.190.218/images/pizzahut/Menu/{{menu.menu_image}}" style="width:100%;height:auto"/></div>
            <div class="list">
                <h3 class="padding font-white" style="text-align:left !important;margin-top:-10px;">{{menu.menu_name}}</h3>
        	    <div class="padding font-white" style="margin-top:-20px;">{{ menu.menu_description}}</div>
                <hr style="margin:0 10px 0 10px;">
                <div class="item item-input padding" style="width:100%;background-color:transparent;border:0">
                    <span class="input-label font-white">Quantity : </span>
                    <input type="text" size=5 name="input" ng-model="menu.qty" placeholder="Qty" ng-init="menu.qty=1" style="background-color:white !important; margin:0 10px 0 0 !important;text-align: center;padding-right: 0px !important;"/>
                    <span class="input-label font-white">item(s)</span>
                    <button class="button-clear" style="height: 30px; width: 47px;" ng-click="menu.qty = menu.qty+1">
                        <img src="img/plus_button.png" style="height:30px !important;">
                    </button>
                    <button class="button-clear" style="height: 30px; width: 47px;" ng-click="menu.qty = menu.qty-1">
                        <img src="img/minus_button.png" style="height:30px !important;">
                    </button>
                </div>
            </div>
            <hr style="margin:-20px 10px 0 10px;">
            <div ng-if="menu.size.length>0" class="list padding">
                <label class="item  item-select select_size">
                    <select ng-model="menu.size_id" name="size_id" class="size_input" ng-change="index(menu.size.indexOf(menu.size_id))" required ng-options="sz.size_name for sz in menu.size">{{sz.size_name}}</select>
                </label>

                <label class="item item-select select_size" ng-repeat="sa in size_attribute" ng-show="size_attribute[$index] == menu.size_id.size_id">
                    <select ng-model="menu.size_attribute_id[$index]" class="size_input" ng-change="index($index)" required ng-options="sz.size_attribute_name for sz in menu.size[$index].size_attr"></select>
                </label>
            </div>
            <hr ng-show="menu.size.length>0" style="margin:-20px 10px 0;">

            <div ng-if="menu.attr.length>0" class="list" style="background-color:transparent">
                <label class="item item-input font-white" style="background-color:transparent;border:0"> Add Ons</label>
                <ion-checkbox style="background-color:transparent;border:0" ng-repeat="att in menu.attr" name="attr_id" id="checkbox_{{$index}}" ng-model="att.selected" value="{{att.attribute_id}}" type="checkbox" class="checkbox-energized"/>
                    <span style="font-size:14px" class="font-white">{{att.attribute_name}} {{att.attribute_price | currency : 'Rp ' : 0}}</span>
                </ion-checkbox>
            </div>
        	<hr ng-show="menu.attr.length>0" style="margin:-20px 10px 0 10px;">

            <div class="list" style="width:100%;background-color:transparent;border:none">
                <label class="item item-input font-white" style="background-color:transparent;border:0  ">
                    Special Instructions
                </label>
                <label class="item item-input padding" style="background-color:transparent;border:0">
                   <textarea ng-model="menu.instructions" placeholder="Special Instructions" style="padding: 10px 10px 10px 10px;"></textarea>
                </label>
            </div>
            <hr style="margin:-20px 10px 0 10px;">
            <div class="padding font-white" style="font-size:14px">
              Total Price : <span style="font-size:16px;font-weight:bold">{{total | currency : 'Rp ' : 0}}</span>
            <div>
            <div class="button-bar padding">
                <button class="button button-assertive" style="color:#3d3d3d;border-color: #ddbc08;background-color:#ddbc08;font-size:12px;font-weight:bold;padding:0 20px 0 20px;" ng-click="addToCart(menu)">
                    Add To Order
                </button>
            </div>
         </ion-content>
    </form>
</ion-modal-view>
</script>

<ion-view>

<ion-nav-bar class="navbar" align-title="center">
    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-b icon-header"> Order</i>
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
        <div style="white-space:nowrap">
            <button class="button-clear" ng-click="toHome()">
                <i class="ion-home icon-header" style="font-size:20px"></i>
            </button>
        </div>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-content style="background-color:#eee;background-image: url(img/left_panel_bg.jpg) !important; background-repeat: repeat-y !important;background-size:100%" overflow-scroll="true">

<div class="bar-header">
	<ion-scroll direction="x" style="width:100%;overflow:scroll;white-space:nowrap;height:50px;line-height:50px">
        <div class="nav-cat" ng-repeat="category in menuCategories" ng-class="{active:tab==category.category_id}">
    		<a href="" data-toggle="tab" ng-click="loadMenu(category.category_id)">{{category.category_name}} </a>
    	</div>
	</ion-scroll>
</div>

<div ng-repeat="category in menuCategories" ng-show="tab == category.category_id">
	<div class="list">
		<a ng-repeat="menu in menus" class="item item-thumbnail-left item-text-wrap item_bb" href ng-click="openModal(menu.menu_id)">
			<img ng-src="http://128.199.190.218/images/pizzahut/Menu/{{menu.menu_image}}" alt="{{menu.menu_name}}" style="width:100px;"/>
			<h3 style="font-weight:bold">{{menu.menu_name}}</h3>
			<p>{{menu.menu_description}}</p>
		</a>
	</div>
</div>

<div style="height:100px;width:100%"></div>

</ion-content>

<div class="bar bar-subfooter" style="position:fixed;bottom:30px;width:100%;background-color:transparent">
    <cartcontents></cartcontents>
</div>
</ion-view>
