<ion-view>

<ion-nav-bar class="navbar" align-title="center">
  <ion-nav-buttons side="left">
		<button class="button-clear" ng-click="toggleLeft()">
			<i class="ion-navicon-round icon-header" style="font-size:20px;vertical-align:40%"> FATBURGET Outlet List</i>
		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button-clear" ng-click="toHome()">
			<i class="ion-home icon-header" style="font-size:20px"></i>
		</button>
		<button class="button-clear" ng-click="toCart()">
			<i class="ion-ios-cart-outline icon-header" style="font-size:20px"></i>
		</button>
	</ion-nav-buttons>
</ion-nav-bar>

<ion-content style="background-color:#eee;background-image: url(img/left_panel_bg.jpg) !important; background-repeat: repeat-y !important;background-size:100%">

<div class="list ">
    <div class="card padding" ng-repeat="outlet in list.outlet">
        <h4>{{outlet.name}}</h4>
        {{outlet.address}}
    </div>
</div>




</ion-content>
</ion-view>
